* {
  margin: 0px;
  padding: 0px;
  padding-inline: 0px;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  margin: 0;
  padding: 0;
  --background-game: rgb(2,109,97);

}

button {
  text-decoration: none;
  border: none;
  background: none;
}

.game__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 90%;
}

.navigation__wrapper {
  display: flex;
  flex-direction: row;
}

.friends-slider, .other-buttons__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 10px;
  top: 610px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#friendsSlider {
  background-image: url(../public/map/block_friend/blockFriendBackground.png);
  width: 540px;
  height: 63px;
}
.friend {
  margin: 5px 0;
}

.friends-slider__content {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-left: 10px;
}

.friends-slider__block_friends {
  display: flex;
  margin: 0; 
  padding: 0; 
  border: none; 
}

.friend-icon__standart,
.friend-icon__empty {
  margin: 2px 5px 0px 5px; 
}


.button-style {
  background: none;
  text-decoration: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

#leftArrow {
  background-image: url(../public/map/block_friend/leftArrow.png);
  width: 16px;
  height: 28px;
  margin-left: 5px; 
  
}

#rightArrow {
  background-image: url(../public/map/block_friend/rightArrow.png);
  width: 16px;
  height: 28px;
  margin-right: 5px; 
}

.friend-icon__first {
  background: url(../public/map/block_friend/firstIcon.png);
  width: 56px;
  height: 51px;
  margin: 0px -1px 0px 5px;
}

.friend-icon__standart {
  background-image: url(../public/map/block_friend/standartIcon.png);
  width: 50px;
  height: 51px;
}

.friend-icon__empty {
  background-image: url(../public/map/block_friend/emptyIcon.png);
  width: 50px;
  height: 51px;
}

.other-buttons__wrapper {
  margin-left: 3px;
  gap: 6px;
  align-items: end;
}

#chatButton {
  background-image: url(../public/map/buttons/chatStandart.png);
  width: 66px;
  height: 60px;
}

#chatButton:hover {
  background-image: url(../public/map/buttons/ChatLight.png);
}

#toUniversityButton {
  background-image: url(../public/map/buttons/uгniversityButton.png);
  width: 204px;
  height: 63px;
}

#mailButton {
  background-image: url(../public/map/buttons/messageButton.png);
  width: 66px;
  height: 60px;
}

#ratingButton {
  background-image: url(../public/map/buttons/ratingButton.png);
  width: 67px;
  height: 61px;
}

.rating-window__wrapper.visible {
  opacity: 1; 
  visibility: visible; 
}

.rating-window__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.rating-window__content {
  position: absolute; 
  top: -100%; 
  left: 50%;
  transform: translateX(-50%); 
  transition: top 0.5s ease; 
  background-image: url(../public/map/rating/windowRating.png);
  width: 523px;
  height: 466px;
}

.rating-window__wrapper.visible .rating-window__content {
  top: 10%; 
}

.list-players {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  max-width: 466px; 
  max-height: 230px; 
  overflow-x: hidden; 
  overflow-y: auto; 
  margin: 175px 0px 0px 60px;
  padding: 0; 
}

.element-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px; 
  height: 27px; 
  background-image: url(../public/map/rating/backgroundElementRating.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 12px;
}

.element-rating__text {
  display: flex; 
  align-items: center;
  justify-content: center;
  font: 900 16px Tahoma, sans-serif; 
  font-weight: 900; 
}

#textIdSpan {

  flex: 0 0 66px; 
  height: 27px;
}

#imgButtonRating {
  flex: 0 0 28px; 
  height: 27px;
}

#nameFriendSpan {
  display: flex; 
  align-items: center;
  justify-content: start;
  flex: 0 0 187px; 
  margin-left: 5px;
  height: 27px;
  
}

#qtExpSpan {
  flex: 0 0 116px; 
  height: 27px;
}

.friend-light {
  background-image: url(../public/map/rating/backgroundElementRatingLight.png);
}

#closeWindowRating {
  position: relative;
  left: 480px;
  bottom: 380px;
  background-image: url(../public/map/rating/buttonClose.png);
  width: 26px;
  height: 26px;
}